body{

    background-image: url(images/cover.jpeg);
    background-size: cover;
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}



.nav-logo{

    background-color: #00FFAB;
}

.english{

    text-align: center;
    margin-left: 15%;
    padding-top: 15%;
    font-style: italic;
}

.arabic{

    text-align: center;
    margin-left: 15%;
    padding-top: 2%;
    font-style: italic;


}



.icon-bar {

    position: fixed;
    float: top;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 2%;
    right: 0%;
    
    
    
  }

  
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: white;
  }
  
  .facebook {
    background: #00FFAB;
    color: white;
  }
  
  .tiktok {
    background: #00FFAB;
    color: white;
  }
  
  .instagram {
    background: #00FFAB;
    color: white;
  }
  
  .whatsapp {
    background: #00FFAB;
    color: white;
  }
  
  

@media (max-width: 1028px) {

    .english{

        text-align: center;

        color: white;
        font-weight: bold;
        
        padding-top: 75%;
        font-style: italic;
    }
    
    .arabic{
    
        text-align: center;
        color: white;

        font-weight: bold;
       
        padding-top: 2%;
        font-style: italic;
    
    
    }

    

    
    


}

