body{

    background-image: url(images/cover.jpeg);
    background-size: cover;
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}

.nav-logo{

    background-color: #00FFAB;
}

.english{

    text-align: center;
    margin-left: 15%;
    padding-top: 15%;
    font-style: italic;
}

.arabic{

    text-align: center;
    margin-left: 15%;
    padding-top: 2%;
    font-style: italic;


}

@media (max-width: 1028px) {

    .english{

        text-align: center;

        color: white;
        font-weight: bold;
        
        padding-top: 75%;
        font-style: italic;
    }
    
    .arabic{
    
        text-align: center;
        color: white;

        font-weight: bold;
       
        padding-top: 2%;
        font-style: italic;
    
    
    }


}

