body{

    background-image: url(images/cover.jpeg);
    background-size: cover;
    background-position: top top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}



.nav-logo{

    background-color: #68E0DF;
   
  
}

.coming-soon{

  position: absolute;
  top: 50%;
  transform: translate(200%, -50%);
  padding: 10px;
  background-color:  rgba(7, 163, 150, 0.514);;
  box-shadow: 0 0 0 40px rgba(7, 163, 150, 0.514);
  border-radius: 15px;
  color: white;
  
  
    
}







.icon-bar {
    position: fixed;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0%;
    margin-right: 10px;
    width: 50px;
    
  }

  
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 16px;
    
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: white;
  }
  
  .facebook {
    background: #68E0DF;
    color: white;
  }
  
  .tiktok {
    background: #68E0DF;
    color: white;
  }
  
  .instagram {
    background: #68E0DF;
    color: white;
  }
  
  .whatsapp {
    background: #68E0DF;
    color: white;
  }

 
  
  

@media (max-width: 1028px) {

    
    

   

    .icon-bar {
        left: 0%;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);   
        margin-left: 10px;
        width: 50px;  
      }

      .coming-soon{

        
        left: 0%;
        top: 80%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color:  rgba(7, 163, 150, 0.233);
        box-shadow: 0 0 0 15px rgba(7, 163, 150, 0.233);
        border-radius: 15px;
        color: white;
        
          
      }

    
    
      
      
      /* Style the icon bar links */
      .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 15px;
        
        
        
      }
      
      /* Style the social media icons with color, if you want */
      .icon-bar a:hover {
        background-color: white;
      }
      
      .facebook {
        background: #68E0DF;
        color: white;
        
      }
      
      .tiktok {
        background: #68E0DF;
        color: white;
      }
      
      .instagram {
        background: #68E0DF;
        color: white;
      }
      
      .whatsapp {
        background: #68E0DF;
        color: white;
      }
      

    

    
    


}

